.tappedCard {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  background-color: grey !important;
  border-radius: 4px;
}

.untappedCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.artwork {
  width: 150px;
  height: 150px;
}

.bg-color-grass {
  background-color: rgb(120, 200, 80, .75);
}

.bg-color-poison {
  background-color: rgb(160, 64, 160, .75);
}

.bg-color-fire {
  background-color: rgb(240, 128, 48, .75);
}

.bg-color-flying {
  background-color: rgb(150, 129, 214, .75);
}

.bg-color-water {
  background-color: rgb(104, 144, 240, .75);
}

.bg-color-bug {
  background-color: rgb(168, 184, 32, .75);
}

.bg-color-normal {
  background-color: rgb(168, 168, 120, .75);
}

.bg-color-electric {
  background-color: rgb(248, 208, 48, .75);
}

.bg-color-ground {
  background-color: rgb(224, 192, 104, .75);
}

.bg-color-fairy {
  background-color: rgb(238, 153, 172, .75);
}

.bg-color-fighting {
  background-color: rgb(192, 48, 40, .75);
}

.bg-color-psychic {
  background-color: rgb(248, 88, 136, .75);
}

.bg-color-rock {
  background-color: rgb(184, 160, 56, .75);
}

.bg-color-steel {
  background-color: rgb(179, 179, 179, .75);
}

.bg-color-ice {
  background-color: rgb(152, 216, 216, .75);
}

.bg-color-ghost {
  background-color: rgb(112, 88, 152, .75);
}

.bg-color-dragon {
  background-color: rgb(112, 56, 248, .75);
}